.searchContainer {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	width: 100%;
	.searchInput {
		max-width: 20rem;
		width: 100%;
	}
}
.postsContainer {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	max-width: 62rem;
	width: 100%;
}
